/*CSS for booking confirmation page*/

/*text for confirmation:
  centers, changes size and spaces the lines out*/

/*outer box of the text*/

.grid{
  display: grid;
}

/*adds detail to the 2 directory buttons*/
.button-1{
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
}
.button-2{
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  font-size: 1rem;
  margin-top:2rem;
  padding: 0.75rem 4rem;
  border-radius: 10px;
}

/* Separate button-2 code for alignment*/
.button-2-design{
   margin-top:2.5rem;
}

.button-2-design:hover, .button-2-design:focus, .button-1-design:hover, .button-1-design:focus{
  background-color:#38384e;
}

/*RESPONSIVITY*/
@media (min-width: 5rem){
  /*text blurb styling*/
  /*Entire section*/
  .confirmation-text{
    text-align:center;
    margin-left: 2rem;
    margin-right:2rem;
  }
  /*body text*/
  .confirmation-text p{
    font-size: 1rem;
    margin-bottom: 4rem;
  }
  /*box title*/
  .confirmation-text h1{
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    font-size: 2rem;
  }
  /*xena name*/
  .confirmation-text h2{
    font-size:2.5rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
  }

  /*button*/
  .button-1{
    border:0rem;
    font-size: 1.25rem;
    padding: 0rem;
    border-radius: 10px;
  }
  .button-2{
    border:0rem;
    font-size: 1.25rem;
    padding: 0rem;
    border-radius: 10px;
  }
  .button-2-design{
    margin-top:1rem;
  }
  .button-2-design:hover, .button-2-design:focus, .button-1-design:hover, .button-1-design:focus, .button-2:focus, .button-1:focus{
    background-color: rgb(192, 211, 247);
  }

  /*box around everything*/
  .outer-box{
  padding: 2rem 2rem 2.5rem 2rem;
  border:0.2rem solid #fff;
  border-radius: 1rem;
  margin-top:6rem;
  }
}

@media (min-width: 40rem){
  /* more text styling*/
  .confirmation-text{
    text-align:center;
    margin-left: 9rem;
    margin-right:9rem;
  }
  .confirmation-text p{
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .confirmation-text h1{
    margin-top:1rem;
    margin-bottom:1.25rem;
    font-size: 2.5rem;
  }
  .confirmation-text h2{
    font-size:3.25rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
  }
}

@media (min-width: 59rem){
  .outer-box{
    padding: 2rem 3rem 2.5rem 3rem;
    border:0.2rem solid #fff;
    border-radius: 1rem;
    margin-top:6rem;
  }

  /*Button code*/
  .button-1{
    border:0.2rem solid #fff;
    background-color: #b4b4b4;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
  } 
  .button-1:hover, .button-1:focus{
    background-color: #4d4d4d;
  } 
  .button-2{
    border:0.2rem solid #fff;
    background-color: #b4b4b4;
    font-size: 1rem;
    margin-top:2rem;
    padding: 0.75rem 4rem;
    border-radius: 10px;
  }
  .button-2-design{
    margin-top:2.5rem;
  }
  /*2 hover code to remove/hide previous hovering effects */
  .button-2:hover, .button-2:focus{
    background-color: #4d4d4d;
  }
  .button-2-design:hover, .button-2-design:focus, .button-1-design:hover, .button-1-design:focus{
    background-color:#38384e;
  }

  .outer-box{
    padding: 2rem 3rem 2.5rem 3rem;
  }
}

/*CODE REPETITION FURTHER DOWN*/

@media (min-width: 59rem){
  .outer-box{
    padding: 2rem 3rem 3.5rem 3rem;
  }

  .confirmation-text{
    text-align:center;
    margin-left: 15rem;
    margin-right:15rem;
  }
  .confirmation-text p{
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .confirmation-text h1{
    margin-top:1rem;
    margin-bottom:1.25rem;
    font-size: 2.5rem;
  }
  .confirmation-text h2{
    font-size:3.25rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
  }
  
}

@media (min-width: 62rem){

  .confirmation-text{
    text-align:center;
    margin-left: 15rem;
    margin-right:15rem;
  }
  .confirmation-text p{
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .confirmation-text h1{
    margin-top:0.75rem;
    margin-bottom:1.25rem;
    font-size: 2.5rem;
  }
  .confirmation-text h2{
    font-size:3rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
  }

  .button-1{
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
  }
  .button-2{
    font-size: 1rem;
    margin-top:2rem;
    padding: 0.75rem 4rem;
    border-radius: 10px;
  }
  .button-2-design{
    margin-top:2.5rem;
  }
}


@media (min-width: 68rem){
  /*New grid template to adjust button*/
  .grid.button-column{
    grid-template-columns: 1fr 1fr;
  }

  .confirmation-text{
    text-align:center;
    margin-left: 15rem;
    margin-right:15rem;
  }
  .confirmation-text p{
    font-size: 1.25rem;
  }
  .confirmation-text h1{
    margin-top:1rem;
    margin-bottom:1.25rem;
  }
  .confirmation-text h2{
    font-size:4rem;
    margin-top:1.5rem;
    margin-bottom:2rem;
  }
  .confirmation{
    max-width: 70rem;
    margin: 0 auto;
  }

  /*New button hover effects for desktop*/
  .button-1{
    border:0.2rem solid #fff;
    background-color: #777777;
    font-size: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  .button-1:hover, .button-1:focus{
    background-color: #4d4d4d;
  }
  .button-2{
    border:0.2rem solid #fff;
    background-color: #777777;
    font-size: 1rem;
    margin-top:2rem;
    margin-left:0rem;
    padding: 1rem 3.25rem;
    border-radius: 10px;
  }
  .button-2-design{
    margin-top:0rem;
  }
  .button-2:hover, .button-2:focus{
    background-color: #4d4d4d;
  }
}

@media (min-width: 72rem){
  .button-1{
    font-size: 1.25rem;
    margin-top:2rem;
    margin-right:1rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }
  .button-2{
    font-size: 1.25rem;
    margin-top:2rem;
    padding: 1rem 3.75rem;
    border-radius: 10px;
  }
}